.dashboard-header{
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.discussion-header{
    display: flex;
    align-items: center;
}

.notification-date{
    margin-bottom: 20px;
    color: #687d94;
}