.comment-container {
  display: flex;
  //margin-bottom: 50px;
  justify-content: space-between;
  


  &:last-child {
    margin-bottom: 0;
  }

  height: fit-content;
  .right {
    margin-left: 20px;
  }

  p {
    color: #687d94;
    margin-top: 10px;
  }
}

.reply-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.show-hide-replies,
.reply {
  color: #007ad4;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    opacity: 0.5;
  }
}

.name-job-role-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.job-role {
  padding: 5px 10px;
  background: #4740d23d;
  border-radius: 2em;
  font-size: 12px;
}

.avatar-right-wrap {
  display: flex;
}

.replies-container {
  padding-left: 20px;
}
