.date-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #142637;
  height: 80px;
  align-items: center;
  border-radius: 10px;
  border: solid 1px #007ad4;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
  color: #007ad4;
}
