.discussion-notification{
  transition: 0.2s ease-in-out;
  &:hover{
    opacity: 0.5;
  }
}

.discussion-notification-original {
  background: #161e28;
  padding: 45px;
  border: dashed 1px #007ad4;
  border-radius: 10px;
  margin-bottom: 20px;
  color: white;
  position: relative;


  .comment-container {
    margin-bottom: 0;
  }

  .icon{
    position: absolute;
    top: -10px;
    left: -10px;
    width: 50px;
    z-index: 30;
  }
}

.discussion-notification-reply {
  margin-left: calc(45px + 45px);
  color: white;
}
