.issue-info {
  color: white;
  background: #b02e34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 30px;
  border-radius: 20px;
  margin-top: 30px;
  transition: 0.2s ease-in-out;

  h3 {
    margin-bottom: 20px;
  }

  &.unresolved {
    background: #b02e34;
  }

  &.resolved {
    background: #60a350;
  }
}
