.issue-info {
  color: white;
  background: #b02e34;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:20px;
  border-radius: 20px;
  margin-top: 30px;
}
