.issue-card {
  background: #161e28;
  width: 100%;
  max-width: 300px;
  height: 200px;
  border-radius: 15px;
  padding: 25px;
  color: white;
  display: flex;
  transition: 0.3s ease-in-out;
  opacity: 1;

  &:hover {
    transform: translateY(-10px);
  }
}

.issue-card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.issues-card-container {
  padding-top: 30px;
}

.status-pill {
  width: fit-content;
  padding: 4px 19px;
  border-radius: 2em;
  font-size: 12px;
  text-transform: capitalize;

  &.unresolved {
    background: #c54b4b;
  }

  &.closed {
    background: grey;
  }

  &.resolved {
    background: #60a350;
  }
}

.issue-card-footer {
  display: flex;
  gap: 10px;
}
