.notification {
  background: #161e28;
  color: #007ad4;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 1em;
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;


  img{
    width: 50px;

  }
}
