.to-do-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-to-do {
  height: 85px;
  border: dashed 1px #007ad4;
  border-radius: 10px;
  margin-bottom: 30px;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  align-items: center;

}

.new-to-do-input {
  height: 100%;
  width: 100%;
  background: none;
  border: 0;
  outline: none;
  color: white;

  &::placeholder{
    color: #007ad4;
  }
}
