.App {
  background: #111821;
}

.app-right {
  flex: 1;
  color: white;
  height: 100vh;
  overflow: scroll;
  padding-right: 25px;
  scroll-behavior: smooth;
}

.row-container {
  display: flex;
}

//Right

.main-container {
  margin-bottom: 50px;
}



.container {
  border-radius: 25px;
  margin-bottom: 100px;
}

.text-button {
  color: #007ad4;
}
