*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Arial';
}

html,body{
  height: 100%;
}

.heading{
  margin-bottom: 30px;
}

h1{
  font-size: 20px;
}

h2{
  font-size: 18px;
}
